.p-5.mb-4.bg-light.rounded-3 
  .container-fluid.py-5 
    .display-5 
      What do you want to learn today?
    -if current_user
      = search_form_for @ransack_courses, as: :courses_search, 
      class: "my-3", url: courses_path do |f|
        .input_group
          = f.search_field :title_cont, class: 'form-control-sm',
          style: 'float: left; width: 150px', 
          placeholder: "Search"
          %span.input-group-append 
            %button.btn.btn-primary.btn-sm{:type => "submit"}
              %span.fa.fa-search{"aria-hidden" => "true"}
    /.form-inline.my-2.my-lg-0 
    /  =form_tag(courses_path, method: :get) do 
    /    .input-group 
    /      = text_field_tag :title, params[:title],
    /      autocomplete: 'off', 
    /      placeholder: "Search",
    /      class: 'form-control'
    /      %span.input-group-append
    /        %button.btn.btn-primary.btn-sm{:type => "submit"}
    /          %span.fa.fa-search{"aria-hidden" => "true"}

.card-group 
  .card.card-body 
    %h1
      .fa.fa-graduation-cap 
    = Course.count
    online courses 
    .row 
    Explore a variety of fresh topics 
  .card.card-body 
    %h1
      .fa.fa-chalkboard-teacher
    = Course.distinct.count(:user_id)
    expert instructors
    .row 
    Find the right instuctor for you  
  .card.card-body 
    %h1
      .fa.fa-user-graduate 
    = User.count
    active learners 
    .row 
    Join the knowledge sharing community
  .card.card-body 
    %h1
      .fa.fa-infinity 
    lifitime access
    .row 
    Learn your own schedule


%hr
%h2
  Popular courses
.row.row-cols-sm-2.row-cols-md-3.row-cols-lg-4.g-3
  - @courses.each do |course|
    = render 'courses/course', course: course
%hr
%h2 
  Top rated courses 
.row.row-cols-sm-2.row-cols-md-3.row-cols-lg-4.g-3
  - @courses.each do |course|
    = render 'courses/course', course: course
%hr
%h2
  Latest courses
.row.row-cols-sm-2.row-cols-md-3.row-cols-lg-4.g-3
  - @latest_courses.each do |course|
    = render 'courses/course', course: course
%hr
