%nav{"aria-label" => "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to "Courses", courses_path
    %li.breadcrumb-item
      = link_to @lesson.course.title, course_path(@lesson.course)
    %li.breadcrumb-item.active{"aria-current" => "page"}
      = @lesson.title

.card 
  .card-header
    %h3 
      .far.fa-check-square
      Editing lesson
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Back', course_path(@lesson.course)
