%h1 
  Courses
  .badge.bg-info
    = @courses.count

.row 
  .col-3
    /=search_form_for @q  
    = search_form_for @ransack_courses, 
    as: :courses_search, url: :courses do |f|
      = f.search_field :title_cont, placeholder: "title",
      class: 'form-control form-control-sm'
      = f.search_field :short_description_cont, placeholder: "short description",
      class: 'form-control form-control-sm'
      = f.select :language_cont, Course.languages, include_blank: true
      = f.select :level_cont, Course.levels, include_blank: true
      = f.search_field :price_eq, placeholder: "price",
      class: 'form-control form-control-sm'
      = f.search_field :user_email_cont, placeholder: "user email",
      class: 'form-control form-control-sm'
      = f.submit
      .ml-2
      = link_to courses_path, class: 'btn btn-sm btn-secondary' do 
        .fa.fa-sync
  .col-md-9
    .row.row-cols-sm-2.row-cols-md-3.row-cols-lg-4.g-3
      - @courses.each do |course|
        = render 'courses/course', course: course
    .row.row-cols-sm-2.row-cols-md-3.row-cols-lg-4.g-3
      != pagy_bootstrap_nav(@pagy)


